In [2]:
import pandas as pd

In [ ]:
df = pd.DataFrame({
    'Brand' : ["Nike", "Adidas", "Nike", "Puma", "Adidas", "Nike", "Reebok"]
})
df

    Brand
0    Nike
1  Adidas
2    Nike
3    Puma
4  Adidas
5    Nike
6  Reebok

<div style="text-align: center; font-size:40px;">Manual Method</div>

In [6]:
df['Brand'].value_counts()

Brand
Nike      3
Adidas    2
Puma      1
Reebok    1
Name: count, dtype: int64

In [8]:
df['Brand_freq'] = df['Brand'].map(df['Brand'].value_counts())

In [9]:
df

    Brand  Brand_freq
0    Nike           3
1  Adidas           2
2    Nike           3
3    Puma           1
4  Adidas           2
5    Nike           3
6  Reebok           1

<div style="text-align: center; font-size:40px;">Automatic Method</div>

In [12]:
import category_encoders as ce
from category_encoders import CountEncoder

In [16]:
df_a = pd.DataFrame({
    'Brand' : ["Nike", "Adidas", "Nike", "Puma", "Adidas", "Nike", "Reebok"]
})
df_a

    Brand
0    Nike
1  Adidas
2    Nike
3    Puma
4  Adidas
5    Nike
6  Reebok

In [15]:
encoder = CountEncoder(cols=['Brand'])

In [17]:
df_encoder = encoder.fit_transform(df_a)

In [18]:
df_encoder

   Brand
0      3
1      2
2      3
3      1
4      2
5      3
6      1