In [1]:
# Imagine you're a real estate agent for pandas.
# You want to give them apartments where each column is a room, and each row is a panda tenant.
import pandas as pd

data = {
    'Name': ['Pandy', 'Bamboo', 'Fuzzy'],
    'Age': [5, 7, 4],
    'Bamboo_Sticks': [15, 20, 12]
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Bamboo_Sticks
0   Pandy    5             15
1  Bamboo    7             20
2   Fuzzy    4             12

In [2]:
# Topic 3: Filtering Data – “Who's Too Old for Daycare?”
# We only want the younger pandas (under 6) for our daycare.
df[df['Age'] < 6]

    Name  Age  Bamboo_Sticks
0  Pandy    5             15
2  Fuzzy    4             12

In [5]:
# Every panda gets a new job title based on age. Because they’re responsible now.
df['Job'] = ['Intern', 'Manager', 'Intern']
print(df)

     Name  Age  Bamboo_Sticks      Job
0   Pandy    6             15   Intern
1  Bamboo    7             20  Manager
2   Fuzzy    4             12   Intern

In [6]:
# Turns out, Pandy is actually 6, not 5. Classic Pandy.
df.loc[df['Name'] == 'Pandy', 'Age'] = 6
print(df)

     Name  Age  Bamboo_Sticks      Job
0   Pandy    6             15   Intern
1  Bamboo    7             20  Manager
2   Fuzzy    4             12   Intern

In [7]:
# Pandas unionized and now refuse to report bamboo consumption.
df = df.drop('Bamboo_Sticks', axis=1)
print(df)

     Name  Age      Job
0   Pandy    6   Intern
1  Bamboo    7  Manager
2   Fuzzy    4   Intern

In [8]:
# Indexer	Meaning	Think of it as
# loc	Label-based selection	"Give me the data from the label ‘Row 2’ and column ‘Name’"
# iloc	Integer position-based selection	"Give me the data from the 2nd row and 0th column"


import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({
    'Name': ['Pandy', 'Bamboo', 'Fuzzy', 'Fluffy'],
    'Age': [5, 7, 4, 6],
    'Bamboo_Sticks': [15, 20, 12, 18]
}, index=['a', 'b', 'c', 'd'])

print(df)


# Get row with label 'b'
df.loc['b']

     Name  Age  Bamboo_Sticks
a   Pandy    5             15
b  Bamboo    7             20
c   Fuzzy    4             12
d  Fluffy    6             18

Name             Bamboo
Age                   7
Bamboo_Sticks        20
Name: b, dtype: object

In [9]:
# Example 2: Get Name and Age of rows 'a' and 'c'
df.loc[['a', 'c'], ['Name', 'Age']]

    Name  Age
a  Pandy    5
c  Fuzzy    4

In [10]:
# Get first row (index position 0)
df.iloc[0]

Name             Pandy
Age                  5
Bamboo_Sticks       15
Name: a, dtype: object

In [11]:
# Get first two rows and first two columns
df.iloc[0:2, 0:2]

     Name  Age
a   Pandy    5
b  Bamboo    7

In [15]:
df = pd.read_json('test.json')


df.to_csv('output.csv', index=False)
df.to_excel('output.xlsx', index=False)
df.to_json('output.json', orient='records', lines=True)

In [16]:
df = df[['Duration', 'Pulse']]
print(df)

   Duration  Pulse
0        60    110
1        60    117
2        60    103
3        45    109
4        45    117
5        60    102

In [18]:
df = df[(df['Duration'] >50) & (df['Pulse'] >105)]
print(df)

   Duration  Pulse
0        60    110
1        60    117

In [19]:
# Think: SQL-style joins. Match rows based on common columns.
import pandas as pd

left = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Pandy', 'Fuzzy', 'Bamboo']
})

right = pd.DataFrame({
    'ID': [1, 2, 4],
    'Hobby': ['Climbing', 'Sleeping', 'Eating']
})


# Merge on common column ID
merged = pd.merge(left, right, on='ID', how='inner')
print(merged)

   ID   Name     Hobby
0   1  Pandy  Climbing
1   2  Fuzzy  Sleeping

In [20]:
# Vertical stacking (one on top of another)
df1 = pd.DataFrame({'Name': ['Pandy', 'Fuzzy'], 'Age': [5, 6]})
df2 = pd.DataFrame({'Name': ['Fluffy'], 'Age': [4]})

result = pd.concat([df1, df2], ignore_index=True)
print(result)

     Name  Age
0   Pandy    5
1   Fuzzy    6
2  Fluffy    4

In [21]:
# Example 2: Horizontal stacking (side-by-side)
df3 = pd.DataFrame({'A': [1, 2]})
df4 = pd.DataFrame({'B': ['X', 'Y']})

result = pd.concat([df3, df4], axis=1)
print(result)

   A  B
0  1  X
1  2  Y