In [12]:
import pandas as pd

##### Example 1

In [13]:
df = pd.DataFrame({
    'Fruit': ['Apple', 'Banana', 'Orange', 'Apple', 'Orange', 'Banana'],
    'Price': [1.2, 0.5, 0.8, 1.3, 0.9, 0.6]
})
df

    Fruit  Price
0   Apple    1.2
1  Banana    0.5
2  Orange    0.8
3   Apple    1.3
4  Orange    0.9
5  Banana    0.6

In [14]:
!pip install category_encoders

Requirement already satisfied: category_encoders in c:\users\g m rifat reza\anaconda3\lib\site-packages (2.9.0)
Requirement already satisfied: numpy>=1.14.0 in c:\users\g m rifat reza\anaconda3\lib\site-packages (from category_encoders) (2.1.3)
Requirement already satisfied: pandas>=1.0.5 in c:\users\g m rifat reza\anaconda3\lib\site-packages (from category_encoders) (2.2.3)
Requirement already satisfied: patsy>=0.5.1 in c:\users\g m rifat reza\anaconda3\lib\site-packages (from category_encoders) (1.0.1)
Requirement already satisfied: scikit-learn>=1.6.0 in c:\users\g m rifat reza\anaconda3\lib\site-packages (from category_encoders) (1.6.1)
Requirement already satisfied: scipy>=1.0.0 in c:\users\g m rifat reza\anaconda3\lib\site-packages (from category_encoders) (1.15.3)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\g m rifat reza\anaconda3\lib\site-packages (from category_encoders) (0.14.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\g m rifat reza\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\g m rifat reza\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\g m rifat reza\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\g m rifat reza\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.0.5->category_encoders) (1.17.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\g m rifat reza\anaconda3\lib\site-packages (from scikit-learn>=1.6.0->category_encoders) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\g m rifat reza\anaconda3\lib\site-packages (from scikit-learn>=1.6.0->category_encoders) (3.5.0)
Requirement already satisfied: packaging>=21.3 in c:\users\g m rifat reza\anaconda3\lib\site-packages (from statsmodels>=0.9.0->category_encoders) (24.2)

In [ ]:
from category_encoders import BinaryEncoder as be

In [16]:
be = be(cols='Fruit')
be.fit_transform(df)

   Fruit_0  Fruit_1  Price
0        0        1    1.2
1        1        0    0.5
2        1        1    0.8
3        0        1    1.3
4        1        1    0.9
5        1        0    0.6

##### Example2

In [17]:
df2 = pd.DataFrame({
    'Employee id': [10, 20, 15, 25, 30],
    'Gender': ['M', 'F', 'F', 'M', 'F'],
    'Remarks': ['Good', 'Nice', 'Good', 'Great', 'Nice']
})
df2

   Employee id Gender Remarks
0           10      M    Good
1           20      F    Nice
2           15      F    Good
3           25      M   Great
4           30      F    Nice

In [19]:
from category_encoders import BinaryEncoder as be

In [20]:
be2 = be(cols=['Gender' , 'Remarks'])
be2.fit_transform(df2)

   Employee id  Gender_0  Gender_1  Remarks_0  Remarks_1
0           10         0         1          0          1
1           20         1         0          1          0
2           15         1         0          0          1
3           25         0         1          1          1
4           30         1         0          1          0