In [8]:
import cv2
import pytesseract
import re

# Load image
image_path = 'C:/Ostad/OCR/WhatsApp Image 2025-06-26 at 22.49.51_7a6a130e.jpg'
image = cv2.imread(image_path)

# Convert image to RGB (pytesseract prefers RGB)
image_rgb = cv2.cvtColor(image, cv2.COLOR_BGR2RGB)

pytesseract.pytesseract.tesseract_cmd = r'C:\Program Files\Tesseract-OCR\tesseract.exe'
# OCR processing
text = pytesseract.image_to_string(image_rgb)

# Print full OCR text (for debugging)
print("Full OCR Output:\n", text)

Full OCR Output:
 = ae) een

proGres No: FCN No}
| y (RGawate fen ay) fier rear A)
“/ P57-17C83230 285234
WTR waareTT A)
UNHCR MoHANo: cr bs
revvrsverser 1 3620171210145957
. Name: (#11)
= Mohsena
Date of Birth: ( orH wiferr) Sex: (frm)
O1-Jan-1995 Female
Origin Country: ( fétsi CMT) Issued Date:( 2414 Gift)
Myanmar 08-Apr-2019
Father's Name: ( 4s ATT)
Abu Ahmed

Mother's Name: ( 31a PT)
Sofura Khatun

IOUT OUT A

Forcibly Displaced Myanmar National/Person of Concern to UNHCR

ae rags Paraara arent Caqatehranra aa Hee wePAS aye

In [9]:
type(text)

str

In [10]:
import pandas as pd

lines = text.split('\n')
lines = [line.strip() for line in lines if line.strip() != '']  # Remove empty lines
df = pd.DataFrame(lines, columns=['Extracted Text'])

In [11]:
df

                                       Extracted Text
0                                           = ae) een
1                                 proGres No: FCN No}
2                   | y (RGawate fen ay) fier rear A)
3                              “/ P57-17C83230 285234
4                                      WTR waareTT A)
5                                 UNHCR MoHANo: cr bs
6                     revvrsverser 1 3620171210145957
7                                       . Name: (#11)
8                                           = Mohsena
9             Date of Birth: ( orH wiferr) Sex: (frm)
10                                 O1-Jan-1995 Female
11  Origin Country: ( fétsi CMT) Issued Date:( 241...
12                                Myanmar 08-Apr-2019
13                           Father's Name: ( 4s ATT)
14                                          Abu Ahmed
15                           Mother's Name: ( 31a PT)
16                                      Sofura Khatun
17                                         IOUT OUT A
18  Forcibly Displaced Myanmar National/Person of ...
19  ae rags Paraara arent Caqatehranra aa Hee wePA...

In [12]:
# Function to find target and extract next value
def extract_after_keyword(df, keyword):
    for i in range(len(df) - 1):
        if keyword.lower() in df.loc[i, 'Extracted Text'].lower():
            return df.loc[i + 1, 'Extracted Text'].strip()
    return None

# Extract values
name = extract_after_keyword(df, 'Name')
father_name = extract_after_keyword(df, "Father's Name")
mother_name = extract_after_keyword(df, "Mother's Name")

# Put results in new DataFrame
result_df = pd.DataFrame({
    'Field': ['Name', "Father's Name", "Mother's Name"],
    'Value': [name, father_name, mother_name]
})

print(result_df)

           Field          Value
0           Name      = Mohsena
1  Father's Name      Abu Ahmed
2  Mother's Name  Sofura Khatun